<label for="residence">
    Selecciona tu país de residencia:
    <select #residence name="residence" id="residence" name="residence" value="residence" required>
        <option id="residence" selected></option>
        <option value="españa" id="residence" name="españa" required>España</option>
        <option value="francia" id="residence" name="francia" required>Francia</option>
        <option value="italia" id="residence" name="italia" required>Italia</option>
    </select>
</label>
