<body>
    <header>
        <div class="title">
            <strong>
                <a href="index.html">
                    <img class="logotipo" src="./assets/pino2.ico" alt="logotipo" size="16x16">
                    <h1>Thriflora</h1>
                </a>
            </strong> 
        </div>
    </header>
    <div class="register">
        <h2 class="center">¡Ya puedes registrarte!</h2>
    </div>
    <div class="container-form">
        <app-email></app-email>
        <p></p>
        <app-select></app-select>
        <p></p>
        <app-checkbox></app-checkbox>
        <p></p>
        <app-button></app-button>
    </div>
</body>
