div.title {
    font-size: 1.1rem;
    font-weight: 900;
    margin-left: 2.7rem;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 900;
    justify-content: auto;
    text-align: justify;
    display: inline-block;
}

div.register {
    text-align: center; 
}

h2.center {
    margin-top: 5.5%;
    color: black;
    background-color: azure;
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.3rem;
    opacity: 0.9;
    text-align: match-parent;
}

body {
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: aquamarine;
    background: linear-gradient(to bottom right, aquamarine, rgb(4, 168, 209));
    background-image: url(../assets/fondoweb.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    min-height: 100vh;  
    min-width: 100vw;
    display: block;
}

header {
    display: block;
    border-bottom: 1.3px solid black;
    box-shadow: 1px 1px 2px 0 rgb(43, 43, 43);
    background-color: aquamarine;
    background: linear-gradient(to bottom right, aquamarine, rgb(4, 168, 209, 0.7));
}

.logotipo {
    object-fit: contain;
    position: block;
    size: 2rem;
    width: 2.5rem;
}

.container-form {
    font-size: 1rem;
    box-sizing: border-box;
    border: rgb(54, 91, 75) 1.4px outset;
    border-radius: 0.7rem;
    padding: 2rem;
    width: 50%;
    height: 50%;
    margin-top: 3%;
    margin-left: 25%;
    background-color: rgb(254, 254, 254);
    box-shadow: 1px 1px 1px 0 rgb(48, 48, 48);
    text-align: left;
    display: flex-box;
    position: center;
}